/* sidebar 不可折叠分组——去掉组间分隔线 */
.VPSidebar .group + .group {
  border-top: none !important;
  padding-top: 0 !important;
}

/* sidebar 滚动条从 header 底部开始 */
.VPSidebar {
  top: var(--vp-nav-height);
  height: calc(100vh - var(--vp-nav-height));
  padding-top: 32px;
}
